<div class="row">
    <div class="col-xs-12">
        <h1>Processing</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <h3> Kinect Air Draw </h3>
      <p> By using a Kinect camera this program lets you draw things around you using your hand.<br><br> Visual Coding (CS4049), University of Limerick. <br>Contributors: Me. <br>See a video <a href="http://karrei.github.io/KinectAirDraw" target="_blank">here</a>.</p>
    </div>
    <div class="col-xs-12">
      <h3> Triangle Mix </h3>
      <p> Visual artwork where triangle float around on screen. The color scheme of the triangles are set from an album cover colected from Spotify's API.<br><br> Visual Coding (CS4049), University of Limerick. <br>Contributors: Me.</p>
    </div>
</div>
