<div class="row">
    <div class="col-xs-12">
        <h1>WebGL</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <h3> WaterWave </h3>
      <p> A simulation of how waves travel across a water surface.<br><br> Modeling Project (TNM085), Linköpings University. <br>Contributors: Me, Johanna Westberg, Kristin Bäck and Lovisa Hassler. <br>See result <a href="http://karrei.github.io/waterwave" target="_blank">here</a>.</p>
    </div>

    <div class="col-xs-12">
      <h3> Forest-Bump </h3>
      <p> Walk through a 3D world. Somewhere in the world there is a man, if you hear the music you're getting close. <br> I mostly worked with the lighting in the scene incluting the "flash light".<br><br> 3-D Computer Graphics (TNM061), Linköpings University.<br>Contributors:Me, Rebecca Lindblom, Sovanny Huy, Lovisa Hassler and Sara Martin.<br> See result <a href="http://beczzor.github.io/forest-bump" target="_blank">here</a>.</p>
    </div>
</div>
