 <!--bootstrap-klass för en rad. OBS! måste ligga i en container-->
<div class="row">
    <!--bootstrap-klass för att ta upp hela bredden på alla skärmar-->
    <div class="col-xs-12">
      <div class="center">
        <h1>Karin Reidarman</h1>
      </div>
    </div>
</div>

<!-- LÄNKAR
<div class="row image-row">
    <div class="col-xs-12 col-sm-6">
        <img src="favicon.png"/>
    </div>

    <div class="col-xs-12 col-sm-6">
        <h2>Kolla in de här länkarna: </h2>
        <ul>
            <li>
                <a href="Content/Presentation.pdf">Kvällens presentation</a>
            </li>
            <li>
                <a href="http://getbootstrap.com/css">Bootstrap</a>
            </li>
            <li>
                <a href="http://fortawesome.github.io/Font-Awesome/icons/">Fontawesomes ikoner</a>
            </li>
            <li>
                <a href="http://coolhomepages.com/Personal--Portfolios/design-ideas.html?view_type=medium&view_sort=date%20added&sort_type=DESC">Designinspiration - coolhomepages</a>
            </li>
            <li>
                <a href="https://angularjs.org/">Angular</a>
            </li>
        </ul>
    </div>
</div>
-->
